/* blue color #0066ff*/
/*grey color #666666*/


* {
	box-sizing: border-box;
}

html, body {
	width: 21cm;
	margin: 0;
	height: 29.7cm;
	border: 1px solid grey;
}

body {
	display: flex;
}

header {
	height: 100%;
	flex: 0 0 27%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1%;
	background-color: #333333;
	color: white;
}

h1 {
	font-size: 1.7em;
	color: #1a75ff; 
}

.developer {
	font-size: 1.1em;
	margin-top: 0;
}

header li {
	list-style: none;
}

header ul {
	padding: 0;
	width: 100%;
}

header a {
	text-decoration: none;
	color: white;
}

.my-sites {
	margin-top: 0;
}

header h3 {
	border-bottom: 1px solid white;
	width: 90%;
	text-align: center;

}

/*.summary {
	text-align: center;
}*/

.skills {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.skills-header, .summary-header {
	margin: 1%;
}

.skills-div > h4 {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.skills-div > ul {
	margin: 0;
}

main {
	flex: 0 0 73%;
	padding: 1%;
}

main h3 {
	border-bottom: 2px solid grey
}

.job-location, .grad-date {
	float: right;
}

.app h4, .app p, .job h4, .job h5, .job-duties, .education h4, .education h5, .ed-list {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.app p {
	font-size: .90em;
}

.job-duties, .ed-list {
	padding-left: 3%;
	list-style-type: circle;
	font-size: .93em;
}

main h4 {
	color: #1a75ff;
}

.publication {
	font-size: .9em;
}

.italics {
	font-style: italic;
}

