* {
	box-sizing: border-box;
}

html, body {
	width: 21cm;
	margin: 0;
	height: 29.7cm;
	border: 1px solid grey;
}

body {
	display: flex;
}

header {
	height: 100%;
	flex: 0 0 27%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1%;
}

h1 {
	font-size: 1.7em;
}

.developer {
	font-size: 1.1em;
	margin-top: 0;
}

header li {
	list-style: none;
}

header ul {
	padding: 0;
	width: 100%;
}

header a {
	text-decoration: none;
	color: black;
}

.my-sites {
	margin-top: 0;
}

/*.summary {
	text-align: center;
}*/

.skills {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.skills-header, .summary-header {
	margin: 1%;
}

.skills-div > h4 {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.skills-div > ul {
	margin: 0;
}

main {
	flex: 0 0 73%;
	padding: 1%;
}

main h3 {
	border-bottom: 2px solid grey
}

.job-location {
	float: right;
}

.app h4, .app p, .job h4, .job h5, .job-duties {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.app p {
	font-size: .90em;
}

.job-duties {
	padding-left: 3%;
	list-style-type: circle;
	font-size: .93em;
}

